*.iml
.gradle
/local.properties
local.properties
application-local.properties
.env
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.vscode/
.DS_Store
/build
**/build/
**/target/
/captures
.externalNativeBuild
.cxx
*.log
*.apk
*.aab
*.pem
cloudflared.exe
backend-upload.tgz
